{% extends "base.html" %}

{% block content %}
    <h1 class="ignore-print">Painel</h1>
    <div class="ignore-print panel-controls">
        <div>
            <select id="chart-type-select">
                <option value="bar">Barra</option>
                <option value="line">Linha</option>
                <option value="radar">Radar</option>
                <option value="pie">Setores</option>
                <option value="doughnut">Rosquinha</option>
            </select>
        </div>
        <div class="change-color">
            <input type="color" id="bar-color-picker" value="#ff5733">
            <label for="bar-color-picker">Cor do Gráfico</label>
        </div>
        <select id="x-axis-select">
            <option value="default">Eixo X</option>
            <option value="currency">Moeda</option>
            <option value="percentage">Porcentagem</option>
            <option value="length_cm">Unidade de Medida (cm)</option>
            <option value="volume_cm3">Unidade de Volume (cm³)</option>
        </select>
        <select id="y-axis-select">
            <option value="default">Eixo Y</option>
            <option value="currency">Moeda</option>
            <option value="percentage">Porcentagem</option>
            <option value="length_cm">Unidade de Medida (cm)</option>
            <option value="volume_cm3">Unidade de Volume (cm³)</option>
        </select>
        <button onclick="updateChartFormat();">Aplicar Formatação</button>
        <button onclick="updateBarColor();">Alterar Cor da Barra</button>
        <button onclick="updateChartType();">Alterar Tipo de Gráfico</button>
        <button onclick="window.print()">Imprimir</button>
    </div>
    <div class="print">
        <canvas id="myChart"></canvas>
    </div>

    <script>
        var chartData = {
            type: "{{ chart.type }}",
            data: {{ chart.data | tojson | safe }},
        };
        
        var ctx = document.getElementById("myChart").getContext('2d');
        var myChart = new Chart(ctx, chartData);

        function updateChartFormat() {
            var xSelectedFormat = document.getElementById("x-axis-select").value;
            var ySelectedFormat = document.getElementById("y-axis-select").value;

            formatAxis('x', xSelectedFormat);
            formatAxis('y', ySelectedFormat);
        }

        function formatAxis(axis, selectedFormat) {
            var axisOptions = axis === 'x' ? myChart.options.scales.xAxes : myChart.options.scales.yAxes;
            var userLanguage = window.navigator.language;

            axisOptions.forEach(function (axisOption) {
                if (selectedFormat === "currency") {
                    var currencyCode = getCurrencyCodeForLanguage(userLanguage);
                    axisOption.ticks.callback = function (value, index, values) {
                        return new Intl.NumberFormat(userLanguage, { style: 'currency', currency: currencyCode }).format(value);
                    };
                } else if (selectedFormat === "percentage") {
                    axisOption.ticks.callback = function (value, index, values) {
                        return new Intl.NumberFormat(userLanguage, { style: 'percent' }).format(value);
                    };
                } else if (selectedFormat === "length_cm") {
                    axisOption.ticks.callback = function (value, index, values) {
                        return value + " cm";
                    };
                } else if (selectedFormat === "volume_cm3") {
                    axisOption.ticks.callback = function (value, index, values) {
                        return value + " cm³";
                    };
                } else {
                    axisOption.ticks.callback = function (value, index, values) {
                        return value;
                    };
                }
            });

            myChart.update();
        }

        function getCurrencyCodeForLanguage(languageCode) {
            var currencyCodes = {
                'en-US': 'USD',
                'pt-BR': 'BRL'
            };

            // Verificando se há um código de moeda correspondente para o código de idioma fornecido
            if (currencyCodes.hasOwnProperty(languageCode)) {
                return currencyCodes[languageCode];
            }

            return 'USD';
        }

        function updateChartType() {
            var chartType = document.getElementById("chart-type-select").value;
            myChart.config.type = chartType;

            // Verifique se o tipo de gráfico é "setor" ou "rosquinha"
            if (chartType === "pie" || chartType === "doughnut") {
                generateRandomColors(); // Gere cores aleatórias
            } else {
                // Habilitar a seleção de cor apenas para outros tipos de gráfico
                document.getElementById("bar-color-picker").disabled = false;
            }

            myChart.update();
        }

        function updateBarColor() {
            var barColor = document.getElementById("bar-color-picker").value;
            myChart.data.datasets[0].backgroundColor = barColor;
            myChart.data.datasets[0].borderColor = barColor;
            myChart.update();
        }

        // Conjunto de cores disponíveis para seleção aleatória
        var availableColors = ["#ff5733", "#0000ff", "#00cc66", "#006600", "#ffcc00", "#ff6600", "#9933cc", "#cc0000"];

        // Função para selecionar uma cor aleatória do conjunto ou sua variação
        function getRandomColor() {
            var randomIndex = Math.floor(Math.random() * availableColors.length);
            var baseColor = availableColors[randomIndex];

            // Variações de cores: tornar a cor mais clara ou mais escura
            var variationFactor = 30; // Ajuste o fator de variação aqui
            var r = parseInt(baseColor.substring(1, 3), 16);
            var g = parseInt(baseColor.substring(3, 5), 16);
            var b = parseInt(baseColor.substring(5, 7), 16);

            // Tornar a cor mais clara
            r = Math.min(255, r + variationFactor);
            g = Math.min(255, g + variationFactor);
            b = Math.min(255, b + variationFactor);

            var newColor = "#" + (r < 16 ? '0' : '') + r.toString(16) + (g < 16 ? '0' : '') + g.toString(16) + (b < 16 ? '0' : '') + b.toString(16);

            return newColor;
        }

        // Função para gerar cores aleatórias para os datasets
        function generateRandomColors() {
            var dataLength = myChart.data.datasets[0].data.length;
            var colors = [];

            for (var i = 0; i < dataLength; i++) {
                var randomColor = getRandomColor();
                colors.push(randomColor);
            }

            myChart.data.datasets[0].backgroundColor = colors;
        }

        // Função para atualizar o gráfico inicialmente com as cores selecionadas
        function updateInitialChartColors() {
            var barColor = document.getElementById("bar-color-picker").value;
            myChart.data.datasets[0].backgroundColor = barColor;
            myChart.data.datasets[0].borderColor = barColor;
            myChart.update();
        }

        updateInitialChartColors();
    </script>
{% endblock %}